<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/">Anasayfa</a>
</li>
<li class="nav-item d-none">
    <a class="nav-link" href="{{site.baseurl}}/hikayeler">Hikayeler</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/icraheyeti">İcra Heyeti</a>
</li>
<li class="nav-item dropdown d-none">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Katalog
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" target="_blank"  href="{{site.katalogurl-egitim}}">Eğitim Kataloğu</a>
      <a class="dropdown-item" target="_blank"  href="{{site.katalogurl-hikaye}}">Hikaye Kataloğu</a>
    </div>
  </li>
<li class="nav-item d-none">
    <a class="nav-link" href="{{site.baseurl}}/planlar">Planlar</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">İletişim</a>
</li>
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/hakkimizda">Hakkımızda</a>
</li> -->
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/sinavlar">Sınavlar</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/siniflar">Sınıflar</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/temalar">Temalar</a>
</li> -->
<!-- <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/baskin-zeka-grubu">Baskın Zekâ Grubu</a>
</li> -->