Replace social media links here
<li class="nav-item p-1">
    <a class="nav-link" style="display: inline !important;" target="_blank" href="{{site.facebook}}"><span class="fab fa-facebook-square fa-2x"></span></a>
</li>

<li class="nav-item p-1">
    <a class="nav-link" style="display: inline !important;" target="_blank" href="{{site.twitter}}"><span class="fab fa-twitter-square fa-2x"></span></a>
</li>

<li class="nav-item p-1">
    <a class="nav-link" style="display: inline !important;" target="_blank" href="{{site.instagram}}"><span class="fab fa-instagram-square fa-2x"></span></a>
</li>

<li class="nav-item p-1">
    <a class="nav-link" style="display: inline !important;" target="_blank" href="{{site.youtube}}"><span class="fab fa-youtube-square fa-2x"></span></a>
</li>