<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/">Anasayfa</a>
</li>
<!-- <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/hikayeler">Hikayeler</a>
</li> -->
<!-- <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/egitim">Eğitim Setleri</a>
</li> -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Faaliyetler
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="{{site.baseurl}}/cumhurbaskanimizin-istanbul-mushafi-sunumu">Cumhurbaşkanımızın İstanbul Mushafı Sunumu</a>
      <a class="dropdown-item" href="{{site.baseurl}}/huseyin-kutlu-istanbul-mushafi-sunumu">Hüseyin Kutlu'nun İstanbul Mushafı Sunumu</a>
      <a class="dropdown-item" href="{{site.baseurl}}/istanbul-mushafi-tanitim-merasimi">İstanbul Mushafı Tanıtım Merasimi Hüseyin Kutlu</a>
    </div>
  </li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/icraheyeti">İcra Heyeti</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/medya">Medya</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/iletisim">İletişim</a>
</li>
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/hakkimizda">Hakkımızda</a>
</li> -->
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/sinavlar">Sınavlar</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/siniflar">Sınıflar</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/temalar">Temalar</a>
</li> -->
<!-- <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/baskin-zeka-grubu">Baskın Zekâ Grubu</a>
</li> -->