<!-- <button type="button" class="btn btn-primary video-btn" data-toggle="modal" data-type="youtube" data-src="{{ education.youtube }}" data-target="#myModal">
    Play Youtube Video
</button> -->

<!-- <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap-4-latest.min.css"> -->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/plyr.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/popup.css">

                        <!-- Modal -->
						<div class="modal" id="myModal" tabindex="1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
					
									<div class="modal-body">
					
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										<!-- 16:9 aspect ratio -->
										<div class="embed-responsive">
											<!--here come the plyr.io codes from js -->
										</div>
					
									</div>
					
								</div>
							</div>
						</div>

<!-- <script src="{{site.baseurl}}/assets/js/jquery-3.1.1.slim.min.js"></script> -->
<!-- <script src="{{site.baseurl}}/assets/js/bootstrap4-latest/master/bootstrap-4-latest.min.js"></script> -->
<script src="{{site.baseurl}}/assets/js/plyr.js"></script>
<script  src="{{site.baseurl}}/assets/js/popup.js"></script>
